.blog-container {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(175, 179, 179);
    margin-bottom: 30px;
}

div img {
    width: 100%;
    border-radius: 5px;

}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.information {
    display: flex;
    gap: 10px;
}

.information img {
    width: 60px;

}

.author {
    font-weight: 700;
    font-size: 24px;
    margin: 0;

}

.date {
    font-weight: 600;
    font-size: 16px;
    color: rgba(17, 17, 17, 0.6);
    margin: 0;
}

.title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 30px;
}

.read {
    color: #6047EC;
    font-size: small;
    font-weight: 400;
    background-color: white;
    border: none;
}
.bookmark-btn {

    background-color: black;
    width: 20px;
    height: 25px;
    border: none;
    color: yellowgreen;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.bookmark-btn :hover {
   
    color: yellow;
}

.read :hover{
    color: #33238f;
}

@media only screen and (max-width: 768px) {

    .title {
        
        font-size: 20px;
    }

    .author {
        
        font-size: 18px;
    }

    .date {
        
        font-size: 10px;
        
    }

    .information img {
        width: 40px;
    
    }
  
  }